* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

html, body, footer, header, 
div, section, article, aside, nav, 
span, p, a,
h1, h2, h3, h4, h5, h6,
ol, ul, li, form, label, 
table, caption, tbody, tfoot, thead, tr, th, td,
input, button, textarea,
img, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, footer, header, nav, section {
  display: block;
}

html, body {
  line-height: 1;
  height: 100%;
  overflow: hidden;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}