@import '../styles/vars.scss';

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  background-color: $block-background-color;

  .disclaimer {
    font-family: $decorative-font;
    font-size: 20px;
    padding-left: 20px;
  }
  .ui.menu {
    margin-top: 0;
    display: flex;
    justify-content: end;
  }
  .item {
    font-family: $decorative-font;
    font-size: 18px;
  }
}