@import '../styles/vars.scss';

.ui.cards > .ui.card.shop-item {
  background-color: $block-background-color;
  .header {
    font-family: $main-font;
    white-space: nowrap;
    overflow: hidden;
  }
  .shop-item-picture {
    min-height: 80%;
    max-height: 80%;
  }
  .price-tag-btn {
    background-color: $block-background-color;
    border-top: 1px solid $interactive-components-bg;
    color: $interactive-components-bg;
    min-height: 40px;

    &:hover {  
      background-color: $interactive-components-bg;
      color: $text-main-color;
    }
    &:active {
      background-color: $block-background-color;
      color: $text-main-color;
    }
  }
}